

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 15px;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    margin-bottom: 60px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    flex: 1;
    text-align: center;
}

.nav-links {
    list-style-type: none;
    display: flex;
    position: absolute;
    right: 50px;
}

.nav-links li {
    margin-left: 50px;
}

.nav-links li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    transition: .3s ease;
}

.nav-links li a:hover {
    color: #00829c;
    font-size: 22px;
}