.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(50, 124, 161, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 2;
    margin: 2px;
    border-radius: 5px;
    padding-top: 60px;
    outline: 3px solid #fff;
}


.sidebar-links{
    padding-left: 5px;
    margin-top: 20px;
    flex-grow: 1;
}

.sidebar-links .logout {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.sidebar-links .help{
    bottom: 1px;
}

.sidebar .sidebar-links a {
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    transition: 0.3s;
    height: 50px;
    margin-top: 5px;
    border-radius: 10px 0 0 10px;
    line-height: normal;
}

.sidebar .help, .logout {
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    transition: 0.3s;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px 0 0 5px;
    line-height: normal;
}

.sidebar a .fas.fa-clock-rotate-left {
    margin-right: 15px; 
}

.sidebar a .fas.fa-columns {
    margin-right: 15px; 
}

.sidebar a i {
    margin-right: 10px;
    font-size: 24px;
    vertical-align: middle;
}

.sidebar a .link-text {
    display: none;
}

.sidebar a:hover {
    background-color: #ffffff;
    color: #000000;
}

/* Sidebar Toggle Button */
.toggle-btn {
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    color: white;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.1s ease;
    padding: 5px;
    padding-left: 20px;
    display: flex; 
    align-items: center; 
}

.toggle-text {
    margin-right: 10px; 
    display: none; 
    font-size: 12px; 
}

.sidebar.open .toggle-text {
    display: inline;
}

.sidebar.open .toggle-btn i {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.sidebar.open .toggle-btn i {
    transform: rotate(180deg); 
    transition: transform 0.3s ease; 
}

.sidebar.open {
    width: 250px;
}

.sidebar.open a .link-text {
    display: inline;
    margin-left: 10px;
}

.sidebar.open a i {
    margin-right: 20px;
}

.sidebar.open ~ .content {
    margin-left: 250px;
}

/* line break style */
hr {
    border: 1px solid #fff; 
}






